/////////////////////////
////      fonts      ////
/////////////////////////

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Titillium+Web:400,600';



//////////////////////
////    colors    ////
//////////////////////
body {
  @include bodyFont;
  color: hsl(0, 0%, 0%);
  background-color: hsl(227,18%,96%);

  // Navigation highlighting
  &[data-controller="index"] nav li.discussions a,
  &[data-controller="members"] nav li.members a,
  &[data-controller="discussions"] nav li.discussions a,
  &[data-controller="discussion"] nav li.discussions a,
  &[data-controller="announcements"] nav li.discussions a,
  &[data-controller="announcement"] nav li.discussions a,
  &[data-controller="topic"][data-view="topic"] nav li.discussions a,
  &[data-controller="post"][data-view="topic"] nav li.discussions a,
  &[data-controller="subscriptions"][data-view="subscriptions"] nav li.subscriptions a,
  &[data-controller="topic"][data-view="private-topic"] nav li.private-topics a,
  &[data-controller="post"][data-view="private-topic"] nav li.private-topics a,
  &[data-controller="topic"][data-view="start-private"] nav li.private-topics a,
  &[data-controller="private-topics"] nav li.private-topics a,
  &[data-controller="sign-in"] nav li.sign-in a,
  &[data-controller="register"] nav li.register a,
  &[data-controller="account"] nav li.account a,
  &[data-controller="about"] nav li.about a,
  &[data-controller="help"] nav li.help a,
	> header nav li a:hover {
    background-color: hsl(227,18%,36%);
  }
}

a {
  color: hsl(227, 18%, 30%);

  &:hover {
    text-decoration: underline;
  }
}

// Mask for zoomed images
#mask {
  background: hsla(0,0%,0%,0.95);

  // Close button
  #mask-close {
    color: hsl(227,60%,90%);
  }

  a.open-tab {
    color: hsl(0,0%,94%);
  }
}

span.zoom {
  span.zoom-button {
    color: hsl(227,60%,90%);
  }
}

body {
  > header {
    // Use a slightly more opaque background if backdrop-filter isn't supported
    background-color: hsla(227,24%,18%,0.95);
    @supports(backdrop-filter: saturate(180%) blur(0.5rem)) {
      background-color: hsla(227,32%,12%,0.9);
      backdrop-filter: saturate(180%) blur(0.5rem);
    }
    box-shadow: 0 0 0.6rem hsl(227,18%,8%);

    a.sign-in,
    li.sign-in a {
      color: hsl(227,100%,90%);
      box-shadow: 0 0 0 1px hsl(227,100%,90%) inset;

      &:hover {
        background: hsl(227,20%,40%);
      }
    }
    li.register a {
      color: hsl(227,18%,25%);
      background: linear-gradient(180deg,hsl(227,75%,90%),hsl(227,40%,75%) 98%);

      &:hover {
        color: hsl(227,18%,95%);
        background: linear-gradient(180deg,hsl(227,18%,40%),hsl(227,18%,30%) 98%);
      }
    }
    a {
      color: hsl(227,60%,90%);

      &:hover {
        text-decoration: none;
      }
    }
  }
}

main {
	background-image: linear-gradient(180deg,hsl(227,18%,98%),hsl(227,18%,94%) 10rem,hsl(227,18%,100%) 0);
}

nav.breadcrumbs {
  li {
    &::before {
      border-right-color: hsl(227,18%,60%);
    }
    &::after {
      border-left-color: hsl(227,18%,60%);
    }
  }
  a {
    color: hsl(227,18%,50%);
  }
}


// The menu button and sliding nav are used on mobile only. Much easier to limit
// here than to overwrite within the 720px media query later.
@media only screen and (max-width: 719px) {
  #main-menu-icon {
    color: hsl(227,18%,25%);
    background: linear-gradient(180deg,hsl(227,75%,90%),hsl(227,40%,75%) 98%);
  }
  .slide-menu {
    background-color: hsl(227,18%,18%);

    a {
      color: hsl(227, 41%, 80%);

      &:hover {
        text-decoration: none;
        background-color: hsl(227,18%,30%);
      }
    }
  }
  .menu-shadow {
    background-color: hsla(227,1%,0%,0.5);
  }
}

main {
  > header {
    background: hsl(227,18%,96%);
    border-bottom: 1px solid hsl(227,18%,92%);
  }
}

section {
  &.summary {
    > p {
      @include bodyFont(normal);
      color: hsl(0,0%,30%);
    }
  }

  &.notice {
    background-color: hsl(227,12%,40%);
    border-color: hsl(227,10%,40%);
    color: hsl(0,0%,100%);

    &.error,
    &.locked,
    &.banned {
      background: hsl(0,50%,50%);

      a {
        color: hsl(0,0%,100%);
      }
    }

    &.private {
      a {
        color: hsl(227,60%,90%);
      }
    }
  }

  &.announcements {
    background: hsl(227,18%,98%);
    border-bottom: 1px solid hsl(227,18%,92%);

    article {
      border-color: hsl(0, 0%, 90%);
    }
  }

  &.content {
    color: hsl(0,0%,5%);

    blockquote {
      background-color: hsl(227,18%,98%);
      border-color: hsl(227,18%,80%);

      a.expand {
        color: hsl(227,18%,50%);
        box-shadow: inset 0 0 0 1px hsl(227,18%,80%);

        &:hover {
          background: hsl(227,18%,95%);
          box-shadow: inset 0 0 0 1px hsl(227,18%,50%);
        }
      }
    }
  }
}

nav.pagination {
  li {
    a {
      color: hsl(227,18%,40%);
      background: linear-gradient(180deg,hsl(227,18%,94%),hsl(227,18%,86%) 98%);
      border-width: 1px;
      border-style: solid;
      border-top-color: hsl(227,18%,90%);
      border-right-color: hsl(227,18%,84%);
      border-bottom-color: hsl(227,18%,78%);
      border-left-color: hsl(227,18%,84%);
    }
    &:nth-child(n+2) {
      a {
        border-left: none;
      }
    }
    &.current a,
    &:hover a {
      color: hsl(227,18%,90%);
      background: linear-gradient(180deg,hsl(227,15%,60%),hsl(227,15%,46%) 98%);
    }
  }
}

nav.previous-and-next {
  a:hover {
    background: hsl(227,18%,96%);
  }
}

nav.actions {
  a {
    padding: 0.9rem 1.4rem;
    color: hsl(0,0%,100%);
    background: linear-gradient(180deg,hsl(227,18%,50%),hsl(227,18%,26%) 98%);

    &:hover {
      color: hsl(227,18%,40%);
      background: linear-gradient(180deg,hsl(227,18%,94%),hsl(227,18%,86%) 98%);
    }
  }
}

// Topic counts for forums, post counts for topics
a.content-stats {
  &:hover {
    text-decoration: none;

    dl.content-stats {
      box-shadow: 0 0 0 1px hsla(227,18%,40%,0.5);
    }
  }
}
dl.content-stats {
  color: hsl(227,18%,30%);
  background: hsl(227,12%,96%);
  box-shadow: 0 0 0 1px hsla(227,18%,40%,0);
  transition: box-shadow 0.1s;
}

article {
  border-color: hsl(227,18%,94%);

  &.unread,
  &.updated {
    &::before {
      background-color: hsl(227,22%,70%);
    }
  }
}

h1 {
  color: hsl(0, 0%, 20%);
}

footer {
  color: hsl(0,0%,90%);
  background-color: hsl(227,18%,20%);

  section.copyright {
    p {
      color: hsl(227,10%,60%);
    }
    a {
      color: hsl(227,10%,60%);
    }
  }
}



/////////////////////////
////      forms      ////
/////////////////////////

form {
  label {
    color: hsl(227,18%,30%);
  }
  p.label-note {
    color: hsl(0,0%,50%);
  }
  input,
  select,
  textarea {
    border-color: hsl(0,0%,80%);
    background-color: hsl(227,18%,100%);

    &:focus {
      outline: none;
      border-color: hsl(0,0%,50%);
    }
  }

  input[type="checkbox"] {
    &:checked {
      &::after {
        color: hsl(227,18%,40%);
      }
    }
  }

  input[type="radio"] {
    &:checked {
      &::after {
        background-color: hsl(227,18%,40%);
      }
    }
  }

  ul.actions {
    > li {
      a, input[type="submit"] {
        color: hsl(0,0%,100%);
        background-image: linear-gradient(180deg,hsl(227,18%,40%),hsl(227,18%,26%) 98%);
      }
      input[type="submit"]:hover {
        color: hsl(227,18%,40%);
        background: linear-gradient(180deg,hsl(227,18%,94%),hsl(227,18%,86%) 98%);
      }
    }
  }
}


/////////////////////////
////     tables      ////
/////////////////////////

table {
  color: hsl(227,0%,30%);

  th,
  td {
    border-color: hsl(227,18%,88%);
  }

  th {
    background: hsl(227,18%,88%);

    a:hover {
      background: hsl(227,18%,58%);
      color: hsl(227,18%,100%);
    }

    &.selected {
      background: hsl(227,18%,58%);

      a {
        color: hsl(227,18%,100%);
      }
    }
  }
}

// Screens wider than 720px
@media only screen and (min-width: 720px) {

  html.js {
    body {
      & > header {
        &.authenticated {
          nav {
            ul.account {
              background-color: hsl(227,18%,26%);
              box-shadow: 0 0.2rem 0.4rem hsl(227,10%,40%);

              &::after {
                background-color: hsl(227,18%,26%);
              }
            }
          }
        }
      }
    }
  }

}


////////////////////////////
//   discussion pattern   //
////////////////////////////

body[data-controller="discussion"][data-view="discussion"],
body[data-controller="announcements"][data-view="announcements"],
body[data-controller="private-topics"][data-view="private-topics"],
body[data-controller="subscriptions"][data-view="subscriptions"] {

  main > p {
    color: white;
  }

}

///////////////////
//  post styles  //
///////////////////

// Global post styles
article.post {
  background-color: hsl(0,0%,100%);

  nav.actions {
    a {
      color: hsl(227,18%,40%);
      background: linear-gradient(180deg,hsl(227,18%,94%),hsl(227,18%,86%) 98%);
      border-width: 1px;
      border-style: solid;
      border-top-color: hsl(227,18%,90%);
      border-right-color: hsl(227,18%,86%);
      border-bottom-color: hsl(227,18%,78%);
      border-left-color: hsl(227,18%,86%);
  
      &:hover {
        color: hsla(0,0%,100%,0.9);
        background: linear-gradient(180deg,hsl(227,15%,60%),hsl(227,15%,46%) 98%);
      }
    }
  }
}

//////////////////////
//  topic patterns  //
//////////////////////

body[data-controller="topic"][data-view="topic"],
body[data-controller="post"][data-view="topic"],
body[data-controller="topic"][data-view="private-topic"],
body[data-controller="post"][data-view="private-topic"],
body[data-controller="announcement"][data-view="announcement"],
body[data-controller="post"][data-view="announcement"] {

  main {
    background-image: linear-gradient(180deg,hsl(227,18%,98%),hsl(227,18%,94%) 100px,hsl(227,18%,94%) 0);
  }

  section.posts {
    > nav {
      background: hsl(227,18%,98%);
      border-top: 1px solid hsl(227,18%,90%);
      border-bottom: 1px solid hsl(227,18%,90%);
    }
  }

  article.post {
    header {
      background: hsl(227,18%,94%);
    }
    section.signature {
      color: hsl(0,0%,40%);
      background-color: hsl(227,18%,98%);

      section.staff {
        background-position-y: bottom;
        background-repeat: no-repeat;
        
        &.moderator {
          background-image: url(/themes/light-side/images/moderator.png);
          background-size: 5.4rem;
          background-position-x: -1rem;
        }
        &.administrator {
          background-image: url(/themes/light-side/images/administrator.png);
          background-size: 5.6rem;
          background-position-x: -1rem;
        }
      }
      section.content {
        p {
          color: hsl(0,0%,40%);
        }
      }
    }
  }

  @media only screen and (min-width: 720px) {

    // First page
    &[data-page="1"] {
      article.post:first-of-type {
        section.content {
          border-top: none;
          border-right: none;
          border-left: none;
        }
        nav.actions {
          border-right: none;
          border-left: none;
        }
        section.signature {
          border-right: none;
          border-left: none;
        }
      }
    }

    article.post {
      header {
        dl {
          border-top: 1px solid;
          border-right: 1px solid;
          border-left: 1px solid;
          border-color: hsl(227,18%,90%);
          background-color: hsl(0,0%,100%);
          
          &::before {
            border-bottom: 1px solid;
            border-left: 1px solid;
            border-color: hsl(227,18%,90%);
            background-color: hsl(0,0%,100%);
          }
          &::after {
            background: hsl(227,18%,92%);
          }
        }
      }
      section.content.post {
        border-right: 1px solid;
        border-left: 1px solid;
        border-color: hsl(227,18%,90%);
        background-color: hsl(0,0%,100%);

        &::before {
          border-bottom: 1px solid;
          border-left: 1px solid;
          border-color: hsl(227,18%,90%);
          background-color: hsl(0,0%,100%);
        }
      }
      nav.actions {
        border-right: 1px solid;
        border-bottom: 1px solid;
        border-left: 1px solid;
        border-color: hsl(227,18%,90%);
        background-color: hsl(0,0%,100%);
      }
      &.signature {
        nav.actions {
          border-bottom: none;
        }
      }
      section.signature {
        border-top: none;
        border-right: 1px solid;
        border-bottom: 1px solid;
        border-left: 1px solid;
        border-color: hsl(227,18%,90%);

        section.staff {          
          &.moderator {
            background-position-x: -2rem;
            background-size: 8.8rem;
          }
          &.administrator {
            min-height: 6rem;
            background-position-x: -1.4rem;
            background-size: 8rem;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 960px) {
    // First page
    &[data-page="1"] {
      article.post:first-of-type {
        section.signature {
          section.staff {
            &.moderator {
              padding-left: 9.4rem;
              background-position-x: 0;
            }
            &.administrator {
              background-position-x: 0;
            }
          }
        }
      }
    }

    section.posts {
      > nav {
        border: 1px solid hsl(227,18%,90%);
      }
    }
  }
}

/////////////////////
//   member list   //
/////////////////////

body[data-controller="members"] {
  nav.groups {
    #group-menu {
      border-color: hsl(227,18%,88%);

      li {
        a {
          &:hover {
            background: hsl(227,18%,88%);
          }
        }

        &.current a {
          background: hsl(227,18%,88%);
        }
      }
    }
  }

  @media only screen and (min-width: 720px) {
    nav.groups {
      #group-menu {
        background: none;
        border: none;
      }
    }
  }
}

///////////////////
//   user view   //
///////////////////

body[data-view="user"] {

  main {
    background: hsl(227,18%,96%);
  }

  article.post {
    header {
      background: hsl(227,18%,94%);
    }
  }

  @media only screen and (min-width: 720px) {
    
    article.post {
      border: 1px solid hsl(227,18%,92%);

      section.content {
        background: hsl(0,0%,100%);
      }
      nav.actions {
        background: hsl(0,0%,100%);
      }
    }

  }

}
