/////////////////////////
////      fonts      ////
/////////////////////////

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Titillium+Web:400,600';



//////////////////////
////    colors    ////
//////////////////////
body {
  @include bodyFont;
  color: white;
  background-color: hsl(227,18%,18%);

  // Navigation highlighting
  &[data-controller="index"] nav li.discussions a,
  &[data-controller="members"] nav li.members a,
  &[data-controller="discussions"] nav li.discussions a,
  &[data-controller="discussion"] nav li.discussions a,
  &[data-controller="announcements"] nav li.discussions a,
  &[data-controller="announcement"] nav li.discussions a,
  &[data-controller="topic"][data-view="topic"] nav li.discussions a,
  &[data-controller="post"][data-view="topic"] nav li.discussions a,
  &[data-controller="subscriptions"][data-view="subscriptions"] nav li.subscriptions a,
  &[data-controller="topic"][data-view="private-topic"] nav li.private-topics a,
  &[data-controller="post"][data-view="private-topic"] nav li.private-topics a,
  &[data-controller="topic"][data-view="start-private"] nav li.private-topics a,
  &[data-controller="private-topics"] nav li.private-topics a,
  &[data-controller="sign-in"] nav li.sign-in a,
  &[data-controller="register"] nav li.register a,
  &[data-controller="account"] nav li.account a,
  &[data-controller="about"] nav li.about a,
  &[data-controller="help"] nav li.help a {
    background-color: hsl(227,18%, 26%);
  }
}

a {
  color: hsl(227,41%,80%);

  &:hover {
    text-decoration: underline;
  }
}

// Mask for zoomed images
#mask {
  background: hsla(0,0%,0%,0.95);

  // Close button
  #mask-close {
    color: hsl(227,60%,90%);
  }

  a.open-tab {
    color: hsl(0,0%,94%);
  }
}

span.zoom {
  span.zoom-button {
    color: hsl(227,60%,90%);
  }
}

p {
  color: hsl(0,0%,85%);
}

time {
  color: hsl(0,0%,75%);
}

body {
  > header {
    // Use a slightly more opaque background if backdrop-filter isn't supported
    background-color: hsla(227,18%,16%,0.95);
    @supports(backdrop-filter: saturate(180%) blur(0.5rem)) {
      background-color: hsla(227,18%,16%,0.9);
      backdrop-filter: saturate(180%) blur(0.5rem);
    }
    box-shadow: 0 0 0.6rem hsl(227,18%,12%);

    a.sign-in,
    li.sign-in a {
      color: hsl(227,100%,90%);
      box-shadow: 0 0 0 1px hsl(227,100%,90%) inset;

      &:hover {
        color: hsl(227,18%,25%);
        background: linear-gradient(180deg,hsl(227,75%,90%),hsl(227,40%,75%) 98%);
        box-shadow: none;
      }
    }
    li.register a {
      color: hsl(227,18%,25%);
      background: linear-gradient(180deg,hsl(227,75%,90%),hsl(227,40%,75%) 98%);

      &:hover {
        color: hsl(227,18%,95%);
        background: linear-gradient(180deg,hsl(227,18%,40%),hsl(227,18%,30%) 98%);
      }
    }
    a {
      color: hsl(227,60%,90%);

      &:hover {
        text-decoration: none;
      }
    }
  }
}

main {
	background-image: linear-gradient(180deg, hsl(227,18%,19%) 0, hsl(227,18%,19%) 100px, hsl(227,18%,18%) 101px);
}

// The menu button and sliding nav are used on mobile only. Much easier to limit
// here than to overwrite within the 720px media query later.
@media only screen and (max-width: 719px) {
  #main-menu-icon {
    color: hsl(227,41%,13%);
    background: linear-gradient(180deg,hsl(227,64%,86%),hsl(227,32%,68%) 98%);
  }
  .slide-menu {
    background-color: hsl(227,18%,18%);

    section.donate {
      border-bottom: 1px solid hsl(227,18%,28%);
      background: hsl(227,18%,22%);
    }

    a {
      color: hsl(227, 41%, 80%);

      &:hover {
        text-decoration: none;
        background-color: hsl(227,18%,30%);
      }
    }
  }
  .menu-shadow {
    background-color: hsla(227,1%,0%,0.5);
  }
}

nav.breadcrumbs {
  li {
    &::before {
      border-right-color: hsl(227,18%,35%);
    }
    &::after {
      border-left-color: hsl(227,18%,35%);
    }
  }
  a {
    color: hsl(227,23%,60%);
  }
}

main {
  > header {
    background-image: linear-gradient(180deg, hsl(227,18%,19%) 0, hsl(227,18%,25%));
    border-bottom: 1px solid hsl(227,18%,16%);
  }
}

section {
  &.summary {
    > p {
      color: rgb(191,191,191);
    }
  }

  &.notice {
    background-color: hsl(227,18%,18%);
    border-color: hsl(227,18%,40%);

    &.error,
    &.locked,
    &.banned {
      background: hsl(0,50%,50%);

      a {
        color: white;
      }
    }
  }

  &.announcements {
    background: hsl(227,18%,20%);
    border-bottom: 1px solid hsl(227,18%,14%);
  }

  &.content {
    color: hsl(0,0%,85%);

    blockquote {
      color: #d2d2d2;
      background-color: hsl(227,18%,24%);
      border-color: hsl(227,18%,50%);

      a.expand {
        &:hover {
          background: hsl(227,18%,30%);
        }
      }
    }
  }
}

nav.pagination {
  li {
    a {
      color: hsl(227,40%,75%);
      background: linear-gradient(180deg,hsl(227,18%,22%),hsl(227,18%,16%) 98%);
      border: 1px solid hsl(227,18%,34%);
    }
    &:nth-child(n+2) {
      a {
        border-left: none;
      }
    }
    &.current a,
    &:hover a {
      color: hsl(227,41%,13%);
      background: linear-gradient(180deg,hsl(227,64%,86%),hsl(227,32%,68%) 98%);
    }
  }
}

nav.previous-and-next {
  a:hover {
    background: hsl(227,18%,26%);
  }
}

nav.actions {
  a {
    padding: 0.9rem 1.4rem;
    color: hsl(227,41%,13%);
    background: linear-gradient(180deg,hsl(227,64%,86%),hsl(227,32%,68%) 98%);

		&:hover {
			color: hsl(227,40%,75%);
      background: linear-gradient(180deg,hsl(227,18%,22%),hsl(227,18%,16%) 98%);
      box-shadow: 0 0 0 1px hsl(227,18%,34%) inset;
    }
  }
}

// Topic counts for forums, post counts for topics
a.content-stats {
  &:hover {
    text-decoration: none;

    dl.content-stats {
      box-shadow: 0 0 0 1px hsla(227,18%,70%,0.5);
    }
  }
}
dl.content-stats {
  color: hsl(227,18%,80%);
  background: hsla(227,18%,26%,1);
  box-shadow: 0 0 0 1px hsla(227,18%,70%,0);
  transition: box-shadow 0.1s;
}

article {
  border-color: hsl(227,18%,25%);

  &.unread,
  &.updated {
    &::before {
      background-color: hsl(227,100%, 90%);
    }
  }
}

h1 {
  color: hsl(0, 0%, 85%);
}

h2 {
  color: hsl(0,0%,80%);
}

footer {
  background-color: hsl(227,18%, 16%);
  border-top: 1px solid hsl(227,18%,14%);

  section.copyright {
    p {
      color: hsl(227,10%,60%);
    }
    a {
      color: hsl(227,10%,60%);
    }
  }
}



/////////////////////////
////      forms      ////
/////////////////////////

form {
  label {
    color: white;
  }
  p.label-note {
    color: hsla(0,0%,100%,0.5);
  }
  input,
  select,
  textarea {
    border-color: hsl(227,18%,30%);
    background-color: hsl(227,18%,32%);

    &:focus {
      outline: none;
      border-color: hsla(227,18%,55%,1);
      background-color: hsla(227,18%,34%,1);
    }
  }

  input[type="checkbox"] {
    &:checked {
      &::after {
        color: hsl(227,100%,90%);
      }
    }
  }

  input[type="radio"] {
    &:checked {
      &::after {
        background-color: hsl(227,100%, 90%);
      }
    }
  }

  ul.actions {
    > li {
      a, input[type="submit"] {
        color: hsl(227,41%,13%);
        background: linear-gradient(180deg,hsl(227,64%,86%),hsl(227,32%,68%) 98%);
      }
      input[type="submit"]:hover {
        color: hsl(227,40%,75%);
        background: linear-gradient(180deg,hsl(227,18%,22%),hsl(227,18%,16%) 98%);
        box-shadow: 0 0 0 1px hsl(227,18%,34%) inset;
      }
    }
  }
}

::placeholder {
  color: hsla(227,18%,75%,0.5);
}


/////////////////////////
////     tables      ////
/////////////////////////

table {
  color: hsl(0,0%,85%);

  th,
  td {
    border-color: hsl(227,18%,30%);
  }

  th {
    background: hsl(227,18%,30%);

    a:hover {
      background: hsl(227,18%,48%);
      color: hsl(227,18%,88%);
    }

    &.selected {
      background: hsl(227,18%,48%);

      a {
        color: hsl(227,18%,88%);
      }
    }
  }
}

// Screens wider than 720px
@media only screen and (min-width: 720px) {

  body {
    & > header {
      nav {
        li {
          a {
            &:hover {
              background-color: hsl(227,18%, 27%);
            }
          }
        }
      }
    }

  }

  html.js {
    body {
      & > header {
        &.authenticated {
          nav {
            ul.account {
              background-color: hsla(227,18%,16%,.95);
              box-shadow: 0 2px 6px hsl(227,0%,10%);

              &::after {
                background-color: hsl(227,18%,16%);
              }
            }
          }
        }
      }
    }
  }
}


////////////////////////////
//   discussion pattern   //
////////////////////////////

body[data-controller="discussion"][data-view="discussion"],
body[data-controller="announcements"][data-view="announcements"],
body[data-controller="private-topics"][data-view="private-topics"],
body[data-controller="subscriptions"][data-view="subscriptions"] {

  main > p {
    color: white;
  }
  article.topic {
    dl.byline {
      dd.author {
        color: #a5b2d9;
      }
    }
  }

  @media only screen and (min-width: 720px) {
    section.topics {
      article.topic {
        dd.date {
          &::before {
            color: #bfbfbf;
          }
        }
      }
    }
  }

}

//////////////////////////////
//        post styles       //
//////////////////////////////

// Global post styles
article.post {
  background-color: hsl(227,18%,22%);

  nav.actions {
    a {
      color: hsl(227,40%,75%);
      background: linear-gradient(180deg,hsl(227,18%,22%),hsl(227,18%,16%) 98%);
      border: 1px solid hsl(227,24%,30%);

      &:hover {
        color: hsl(227,41%,13%);
        background: linear-gradient(180deg,hsl(227,64%,86%),hsl(227,32%,68%) 98%);
      }
    }
  }
}

//////////////////////
//  topic patterns  //
//////////////////////

body[data-controller="topic"][data-view="topic"],
body[data-controller="post"][data-view="topic"],
body[data-controller="topic"][data-view="private-topic"],
body[data-controller="post"][data-view="private-topic"],
body[data-controller="announcement"][data-view="announcement"],
body[data-controller="post"][data-view="announcement"] {

  section.summary {
    dl.byline {
      dd {
        color: hsl(227,41%,80%);

        &.date {
          color: hsl(0,0%,67%);
        }
      }
    }
  }

  section.posts {
    > nav {
      background: hsl(227,18%,22%);
    }
  }

  article.post {
    header {
      background: hsl(227,18%,18%);

      dd {
        &.time {
          color: #acacac;
        }
      }
    }
    section.signature {
      color: hsl(0,0%,70%);
      background-color: hsl(227,18%,24%);

      section.staff {
        background-position-y: bottom;
        background-repeat: no-repeat;
        
        &.moderator {
          background-image: url(/themes/default/images/moderator.png);
          background-size: 4.8rem;
          background-position-x: -0.5rem;
        }
        &.administrator {
          background-image: url(/themes/default/images/administrator.png);
          background-size: 6rem;
          background-position-x: -1rem;
        }
      }
      section.content {
        p {
          color: hsl(0,0%,80%);
        }
      }
    }
  }

  @media only screen and (min-width: 720px) {
    article.post {
      header {
        dl {
          background-color: hsl(227,18%,22%);
          
          &::before {
            background-color: hsl(227,18%,22%);
          }
          &::after {
            background: hsl(227,18%,28%);
          }
        }
      }
      section.content.post {
        background-color: hsl(227,18%,22%);
      }
      nav.actions {
        background-color: hsl(227,18%,22%);
      }
      section.signature {
        border-color: hsl(227,18%,18%);
        background-color: hsl(227,18%,24%);

        section.staff {          
          &.moderator {
            background-size: 9.2rem;
            background-position: -1.4rem 0.8rem;
          }
          &.administrator {
            background-position-x: -2.2rem;
            background-size: 10rem;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 960px) {
    // First page
    &[data-page="1"] {
      article.post:first-of-type {
        section.signature {
          section.staff {
            &.moderator {
              background-position-x: 0;
            }
            &.administrator {
              padding-left: 10rem;
              background-position-x: 0;
            }
          }
        }
      }
    }
  }
}

// Private topic view
body[data-controller="topic"][data-view="private-topic"],
body[data-controller="post"][data-view="private-topic"] {
  ul.participants {
    li {
      &:nth-child(n+2) {
        &::before {
          color: hsl(0,0%,85%);
        }
      }
      &:last-child {
        &::before {
          color: hsl(0,0%,85%);
        }
        &::after {
          color: hsl(0,0%,85%);
        }
      }
    }
  }
}

/////////////////////
//   member list   //
/////////////////////

body[data-controller="members"] {
  nav.groups {
    #group-menu {
      border-color: hsl(227,18%,30%);
      background-color: hsl(227,18%,32%);
      
      li {
        a {
          &:hover {
            background: hsl(227,18%,28%);
          }
        }

        &.current a {
          background: hsl(227,18%,28%);
        }
      }
    }
  }

  @media only screen and (min-width: 720px) {
    nav.groups {
      #group-menu {
        background: none;
        border: none;
      }
    }
  }
}

///////////////////
//   user view   //
///////////////////

body[data-view="user"] {

  article.post {
    header {
      background: hsl(227,18%,18%);
    }
  }

  @media only screen and (min-width: 720px) {
    
    article.post {
      border: initial;

      header {
        background: hsl(227,18%,24%);
      }
      section.content {
        background-color: hsl(227,18%,22%);
      }
      nav.actions {
        background-color: hsl(227,18%,22%);
      }
    }

  }

}
